.app{
    display:grid;
    grid-template-columns:300px 1fr 340px;
    gap:24px;

    min-height:100vh;

    padding:20px;
}

.sidebar{
    display:flex;
    flex-direction:column;
}

.content{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.rightbar{
    display:flex;
    flex-direction:column;
    gap:24px;
}

@media(max-width:1200px){

    .app{
        grid-template-columns:220px 1fr;
    }

    .rightbar{
        grid-column:2;
    }

}

@media(max-width:900px){

    .app{
        grid-template-columns:1fr;
    }

}
