/* =========================
RESET
========================= */

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* =========================
GENERAL
========================= */
html{
    background:var(--color-fondo);
}

body{
    background:linear-gradient(
        180deg,
        var(--color-fondo),
        var(--color-card)
    );
    color:var(--color-texto);
	font-family:'Inter',sans-serif;
	min-height:100dvh;
    overflow-x:hidden;
}


a{ text-decoration:none; color:inherit; }

/* =========================
   SCROLL APP
========================= */

#fixture,
#contenidoPosiciones,
#equiposGrid,
#goleadoresContainer,
#contenidoEstadisticas {
    scrollbar-width:thin;
    scrollbar-color:rgba(255,255,255,.12) transparent;
}

#fixture::-webkit-scrollbar,
#contenidoPosiciones::-webkit-scrollbar,
#equiposGrid::-webkit-scrollbar,
#contenidoEstadisticas::-webkit-scrollbar,
#goleadoresContainer::-webkit-scrollbar{
    width:5px;
}

#fixture::-webkit-scrollbar-thumb,
#contenidoPosiciones::-webkit-scrollbar-thumb,
#equiposGrid::-webkit-scrollbar-thumb,
#contenidoEstadisticas::-webkit-scrollbar-thumb,
#goleadoresContainer::-webkit-scrollbar-thumb{
    background:rgba(255,255,255,.12);
    border-radius:999px;
    transition:.2s;
}

#fixture::-webkit-scrollbar-thumb:hover,
#contenidoPosiciones::-webkit-scrollbar-thumb:hover,
#equiposGrid::-webkit-scrollbar-thumb:hover,
#contenidoEstadisticas::-webkit-scrollbar-thumb:hover,
#goleadoresContainer::-webkit-scrollbar-thumb:hover{
    background: rgba(107,230,117,.45);
}

#contenidoPosiciones, #fixture, #listaEquipos, #goleadoresContainer, #contenidoEstadisticas {
    flex:1;
    min-height:0;
    overflow-y:auto;
    overflow-x:hidden;
    padding-right:4px;
}

#versionApp{
    color:var(--color-texto-apagado);
	position:fixed;
    right:12px;
    bottom:70px;
    opacity:.45;
    font-size:.70rem;
    z-index:500;
}


/* =========================
SIDEBAR
========================= */

.logo{
	font-size:2rem;
	font-weight:800;
	margin-bottom:35px;
}

.sidebar{
	background:var(--color-fondo-secundario);
	position:sticky;
	height:calc(100vh - 70px);
	border-radius:24px;
	padding:32px 24px;
}

.sidebar nav{
	display:flex;
	flex-direction:column;
	gap:6px;
}

.sidebar nav a{
	color:white;
	padding:12px 16px;
	border-radius:14px;
	font-size:1.25rem;
	transition:.2s;
}

.sidebar nav a:hover{
	background:var(--color-card-hover);
}

.sidebar nav a.active{
	background:var(--color-principal);
    color:var(--color-texto);
	font-weight:700;
	border-radius:999px;
	border-radius: 5px;
    padding: 8px 4px;
}

/* =========================
CONTENT
========================= */

.content{
    display:flex;
    flex-direction:column;
    gap:20px;
    height:calc(100dvh - 70px);
}

/* =========================
HERO
========================= */

.hero{
	background:
	linear-gradient( rgba(0,0,0,.45), rgba(0,0,0,.65) ),
	url('https://r1.ilikewallpaper.net/pic/201406/Fifa_World_Cup_Trophy_640.jpg');
	background-size:cover;
	background-position:center;
	display:flex;
	align-items:center;
	padding:48px;
	min-height:420px;
	border-radius:28px;
}

.hero h1{
	font-size:3.3rem;
	line-height:1.05;
}

.hero small{
	color:var(--color-principal);
	font-weight:700;
}

.hero button{
	margin-top:10px;
	border:none;
	background:var(--color-principal);
	color:white;
	padding:14px 24px;
	border-radius:14px;
	font-size:1rem;
	font-weight:700;
	cursor: pointer;
}

/* =========================
SECTIONS
========================= */
.section{
    background:var(--color-card);
    border-radius:28px;
    padding:12px;
    box-shadow:0 8px 24px rgba(0,0,0,.25);
    display:flex;
    flex-direction:column;
    flex:1;
    min-height:0;
    overflow:hidden;
}

.section-title{
	font-size:1.4rem;
	font-weight:800;
	margin-bottom:10px;
}

.sidebar-card{
    background:var(--color-card-hover);
    border-radius:16px;
    padding:14px;
    margin-bottom:12px;
    border:1px solid rgba(255,255,255,.08);
}

.sidebar-card h3{
    color:var(--color-principal);
    margin-bottom:10px;
}

.sidebar-card p{ margin-bottom:6px; }

/* =========================
INFO VER MAS
========================= */
.modal{
    background: rgba(0,0,0,.75 );
    backdrop-filter: blur(5px);
	position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.modal.show{ display:flex; }

.modal-content{
    background:var(--color-card);
    color:white;
    border: 1px solid rgba(255,255,255,.08);
	width:min(90%,600px);
    max-height:80vh;
    overflow-y:auto;
    border-radius:24px;
    padding:24px;
}

.modal-content h2{ margin-bottom:20px; }

.modal-content h3{
    color:var(--color-principal);
    margin-top:16px;
    margin-bottom:6px;
}

.modal-content p{ line-height:1.5; }

.modal-close{
    color:white;
	float:right;
	background:none;
    border:none;
    font-size:1.5rem;
    cursor:pointer;
}

/* =========================
PARTIDOS
========================= */

#fixtureCompleto{
    flex:1;
    overflow-y:auto;
    overflow-x:hidden;
	display:flex;
	flex-direction:column;
	gap:10px;
}

.partido{
	background:var(--color-card-hover);
	border:1px solid rgba(255,255,255,.04);
	border-radius:18px;
	padding: 6px;
	margin-bottom: 4px;
	transition:.2s;
}

.partido:hover{
	transform: translateY(-2px);
	border-color: rgba(34,197,94,.35);
	box-shadow: 0 0 14px rgba(34,197,94,.18);
}

.separador-llave{
    color:#6BE675;
	margin:14px 0 24px;
    text-align:center;
	font-size:.95rem;
    font-weight:700;
    letter-spacing:2px;
    position:relative;
}

.separador-llave::before,
.separador-llave::after{
    background:rgba(107,230,117,.35);
	content:"";
    position:absolute;
    top:50%;
    width:35%;
    height:1px;
}

.separador-llave::before{ left:0;}
.separador-llave::after{ right:0;}
.grupo-fin{ margin-bottom:28px;}

.fecha{
    color:var(--color-texto-apagado);
	font-size:.75rem;
	font-weight:600;
	letter-spacing:.5px;
	margin-bottom:10px;
}

.fecha-btn{
    min-width:70px;
    min-height:70px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:4px;
}

.fecha-btn small{
    font-size:.8rem;
    opacity:.8;
}

.resultado{
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-size:0.92rem;
	font-weight:600;
	gap:12px;
}

.resultado span{ flex:1;}

.resultado strong{
    color:var(--color-texto);
	font-size:1.35rem;
    font-weight:800;
    width:70px;
    text-align:center;
    flex-shrink:0;
}

.partido-info{
    color:var(--color-texto-apagado);
	margin-top:8px;
    font-size:.80rem;
    display:flex;
    gap:12px;
    flex-wrap:wrap;
    align-items:center;
}


/* =========================
   PLAYOFF
========================= */

.tabs-playoff{
    display:flex;
    justify-content:space-between;
    gap:12px;
    margin:5px 0;
    padding-bottom:4px;
    scroll-behavior:smooth;
}

.tabs-playoff::-webkit-scrollbar{display:none;}



.btn-ronda{
    border:none;
    background:var(--color-fondo-secundario);
    color:#cbd5e1;
    border-radius:999px;
    cursor:pointer;
    font-size:.82rem;
    font-weight:700;
    white-space:nowrap;
    transition:.25s;
    flex:1;
    padding:10px 18px;
    text-align:center;
}

.btn-ronda:hover{ background:var(--color-card-hover);}

.btn-ronda.activo{
    background:var(--color-principal);
    color:var(--color-fondo);
    box-shadow:0 0 12px rgba(107,230,117,.35);
}


/* =========================
TABLAS
========================= */

table{ width:100%; border-collapse:collapse; }
th{ background:var(--color-card-hover); font-weight:700; }
th, td{ padding:14px; text-align:center; }
tr{ border-bottom:1px solid rgba(255,255,255,.08); }

/* =========================
POSICIONES
========================= */
.tabs-posiciones{
    background:var(--color-card);
	position:sticky;
    top:0;
    z-index:21;
    padding-bottom:10px;
    display:flex;
    gap:10px;
}

.tabs-posiciones button{
    background:var(--color-fondo-secundario);
    /* color:#cbd5e1; */
    border:none;
	padding:10px 18px;
    border-radius:14px;
    cursor:pointer;
    font-weight:600;
    transition:.2s;
}

/* .tabs-posiciones button:hover{
    background:#1f2d55;
} */

.tabs-posiciones .tab-activa{
    background:var(--color-principal);
    color:var(--color-fondo);
}

.grupo-titulo{
	color:var(--color-principal);
	margin-top:20px;
	margin-bottom:10px;
	font-size:1.6rem;
}

.tabla-scroll{
	overflow-x:auto;
	-webkit-overflow-scrolling:touch;
}

.ganador{
    color:var(--color-principal);
    font-weight:700;
}

/* =========================
EQUIPOS
========================= */

.grupos-grid{
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
	gap:20px;
}

.equipo-card{
	background:var(--color-card-hover);
	border:1px solid
	rgba(255,255,255,.04);
	border-radius:18px;
	padding:18px;
	margin-bottom:12px;
}

.grupo-card h2{
	color:var(--color-principal);
	margin-bottom:15px;
}

.equipo-link{
	display:flex;
	align-items:center;
	gap:10px;
	padding:8px 0;
	border-bottom:
	1px solid rgba(255,255,255,.08);
	transition:.2s;
}

.equipo-link:hover{
	color:var(--color-principal);
	transform:translateX(4px);
}

.equipo-link:last-child{ border-bottom:none; }

/* =========================
EQUIPO INDIVIDUAL
========================= */

.equipo-card{
	background:var(--color-card);
	border-radius:18px;
	padding:22px;
	margin-bottom:14px;
}

.equipo-nombre{
	font-size:1.3rem;
	font-weight:700;
	margin-bottom:8px;
}

.equipo-datos{ color:var(--color-texto-apagado);}

.volver{
	color:var(--color-principal);
	display:inline-block;
	margin-bottom:20px;

	font-weight:700;
}

/* =========================
   EQUIPO STATS
========================= */

.stats-card{
    padding:20px;
}

.stats-header,
.stats-values{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    text-align:center;
}

.stats-header{
    color:var(--color-texto-apagado);
    font-size:.75rem;
    font-weight:600;
    margin-bottom:10px;
}

.stats-values{
    font-size:1.2rem;
    font-weight:700;
    margin-bottom:16px;
}

.stats-points{
    color:var(--color-principal);
    border-top: 1px solid rgba(255,255,255,.08);
	text-align:center;
	padding-top:14px;
    font-size:1.4rem;
    font-weight:800;

}

.bandera-equipo{
    width:48px;
    height:auto;
    margin-right:12px;
}

.equipo-nombre{
    display:flex;
    align-items:center;
    gap:8px;
}

.fila-equipo{
    cursor:pointer;
    transition:.2s;
}

.fila-equipo:hover{ background:rgba(255,255,255,.05);}
.clasificado{ border-left: 4px solid #6BE675;}
.tercero{border-left: 4px solid #facc15;}

.leyenda-clasificacion{
    color:var(--color-texto-secundario);
	display:flex;
    gap:10px;
    margin-bottom:6px;
    font-size:.75rem;

}

.clasificados-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:4px 10px;
}

.clasificado-item{
    display:flex;
    align-items:center;
    gap:6px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size:.85rem;
}


/* =========================
   FIXTURE FLASHSCORE
========================= */

#selectorFechas{
	background:var(--color-card);
	display:flex;
    gap:10px;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    padding:10px 0 16px;
	position:sticky;
	top:0;
	z-index:20;
	padding-top:8px;
    scrollbar-width:none;
}

#selectorFechas::-webkit-scrollbar{
    display:none;
}

.fecha-btn{
    background:var(--color-fondo-secundario);
    color:#cbd5e1;
	flex:0 0 auto;
    border:none;
    border-radius:20px;
    padding:10px 16px;
    font-weight:600;
    cursor:pointer;
    transition:.25s;
}

.fecha-btn.activo{
    background:var(--color-principal);
    color:var(--color-fondo);
    box-shadow: 0 0 15px rgba(107,230,117,.4);
}

#resumenFixture{
    color:var(--color-texto-info);
	display:flex;
    gap:16px;
    margin-bottom:14px;
    font-weight:600;

}


/* ===========================
ESTADOS DEL FIXTURE Y PARTIDOS
============================ */

.partido-vivo{
    box-shadow:0 0 10px rgba(34,197,94,.25);
    border-left:4px solid var(--color-principal);
    background: linear-gradient( 90deg, rgba(34,197,94,.12), rgba(0,0,0,0));
}


.estado-vivo{
    color:var(--color-principal);
    font-weight:700;
    animation:pulse 1.2s infinite;
}

.estado-finalizado{
    color:var(--color-texto-apagado);
}

.estado-programado{
    color:var(--color-warning);
}

@keyframes pulse{
	0%{opacity:1;}
	50%{opacity:.4;}
	100%{opacity:1;}
}

/* =========================
GOLEADORES
========================= */

.goleador-card{
    background: rgba( 255, 255, 255, .04 );
    border: 1px solid rgba( 255, 255, 255, .08 );
	display:flex;
    align-items:center;
    gap:16px;
    padding:16px;
    margin-bottom:12px;
    border-radius:16px;
}

.goleador-posicion{
    font-size:1.4rem;
    min-width:50px;
    text-align:center;
}

.goleador-info{
    flex:1;
}

.goleador-nombre{
    font-size:1rem;
    font-weight:600;
}

.goleador-equipo{
    margin-top:4px;
    font-size:.85rem;
    opacity:.7;
}

.goleador-goles{
    color:var(--color-principal);
	font-size:1.2rem;
    font-weight:700;

}

/* =========================
GOLEADORES V2
========================= */

.goleador-row{
    background: rgba( 255, 255, 255, .04 );    
	border: 1px solid rgba( 255, 255, 255, .06 );
	display:grid;
    grid-template-columns: 50px 1fr 60px;
    align-items:center;
    gap:10px;
    padding:18px;
    margin-bottom:6px;
    border-radius:12px;

}

.goleador-pos{
    text-align:center;
    font-size:1.2rem;
}

.goleador-player{
    font-size:1rem;
    font-weight:600;
}

.goleador-player span{
    display:block;
    margin-top:0;
    font-size:.8rem;
    opacity:.7;
    font-weight:400;
}

.goleador-goals{
    color:#7CFF72;
	text-align:right;
    font-size:1.4rem;
    font-weight:700;

}

.flag{
    width:24px;
    height:18px;
    object-fit:cover;
    border-radius:3px;
    vertical-align:middle;
    margin-right:8px;
    box-shadow: 0 0 4px rgba( 0, 0, 0, .3 );
}

.resultado .flag{
    width:22px;
    height:16px;
    margin-right:6px;
    vertical-align:middle;
}


/* =========================
MOBILE
========================= */
@media(max-width:500px){  
    .col-px{ display:none; }     
    .goleador-row{ padding: 9px; }
}

@media(max-width:900px){
    .hero{
		min-height:300px;
		padding:24px;
    }
    
    .hero h1{
		font-size:3rem;
    }
    
    .section-title{
		font-size:1.3rem;
    }
    
    .resultado{
	    flex-direction:row;
	    gap:6px;
	    text-align:center;
	    font-size:0.95rem;
    }
    
    .fecha {
	    margin-bottom: 7px;
    }
    .sidebar{
	    position:fixed !important;
	    left:0;
	    right:0;
	    bottom:0;
	    top:auto;
	    height:70px;
	    border-radius:24px 24px 0 0;
	    padding:0;
    }
    
    .logo{ display:none;}
    
    .sidebar nav{
	    flex-direction:row;
	    justify-content:space-around;
	    align-items:center;
	    width:100%;
	    height:100%;
    }
    
    .sidebar nav a{
	    font-size:12px;
	    padding:0;
    }

    .tabs-playoff{
	    background:var(--color-card);
		position:sticky;
	    top:0;
	    z-index:20;
        overflow-x:auto;
        justify-content:flex-start;
        padding-bottom:6px;
    }

    .grupo-titulo{
        font-size:1.4rem;
    }
    
    .grupos-grid{
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }

    .tabla-grupo{
        font-size:.9rem;
    }

    .tabla-grupo th,
    .tabla-grupo td{
        padding:8px 6px;
    }

    .equipo-nombre{
        font-size:.95rem;
        gap:6px;
    }

    .goleador-row{
        padding: 9px;
    }
    
}



/* =========================
PANTALLAS GRANDE TV || LAPTOP
========================= */

@media(min-width:1200px){
    #versionApp{
        bottom:16px;
        right:16px;
    }
}

@media(max-width:1199px){
	.rightbar{ display:none;}
}

/* =========================
WIDESCREEN TV
========================= */

@media (min-width:1200px){
	.app{
		display:grid;
		grid-template-columns:240px 1fr 360px;
		gap:24px;
		padding:24px;
		align-items:start;
	}
	
	.content{
		display:flex;
		flex-direction:column;
		gap:24px;
	}
	
	.rightbar{
		display:flex;
		flex-direction:column;
		gap:4px;
	}

}
