/* Variables por defecto */

:root {

    /* Fondo */
    --color-fondo: #ded52c;
    --color-fondo-secundario: #0f172a;

    /* Tarjetas */
    --color-card: #10192d;
    --color-card-hover: #16213c;

    /* Bordes */
    --color-borde: #233253;

    /* Colores principales */
    --color-principal: #67e86f;
    --color-principal-hover: #56d65d;

    /* Texto */
    --color-texto: #ffffff;
    --color-texto-secundario: #9ca3af;

    /* Estados */
    --color-exito: #22c55e;
    --color-alerta: #f59e0b;
    --color-error: #ef4444;

}


:root[data-competition="worldcup"] {

    --color-principal: #67e86f;

}

:root[data-competition="f1"] {

    --color-fondo: #120000;
    --color-fondo-secundario: #1b0000;
    --color-card: #220000;

    --color-principal: #ff1801;

}

:root[data-competition="libertadores"] {

    --color-principal: #d4af37;

}






